.popup__container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;

  /* position: fixed;
  max-width: 430px;
  min-height: 330px;
  margin: 105px auto 0;
  width: 100%;

  background-color: #ffffff;
  border-radius: 10px;

  justify-content: center;
  align-items: center; */
}

@media (max-width: 768px) {
  .popup__container {
    /* max-width: 282px;
    margin-top: 123px; */
  }
}
