.creation__link {
    max-width: 358px;
    width: 100%;
    padding: 0 0 13px;
    margin-top: 30px;
    margin-left: 36px;

    border: none;
    border-bottom: 1px rgba(0, 0, 0, 0.2) solid;
    color: #C4C4C4;

    font-weight: 400;
    font-size: 14px;
    line-height: 17px;
}

.creation__link:focus {
    color: #000000;
    outline: none;
}

@media (max-width: 768px) {
    .creation__link {
        max-width: 238px;
        margin-left: 22px;
    }
}
